{% load i18n %}

{% trans "Hello world" %} <br><br>
{% trans "Language" %}:[ {{ LANGUAGE_CODE }} ]

<br><br>
<form action="/i18n/setlang/" method="post">{% csrf_token %}
  <input name="next" type="hidden" value="." />
   <select onchange="this.form.submit()" name="language">
     {% for lang in LANGUAGES %}
       {% ifequal LANGUAGE_CODE lang.0 %}
         <option selected="selected" value="{{ lang.0 }}">
           {{ lang.1 }}
         </option>
       {% else %}
         <option value="{{ lang.0 }}">
           {{ lang.1 }}
         </option>
       {% endifequal %}
     {% endfor %}
   </select>
</form>                 

{% trans "TEXT" %}<br>

